footer {
  padding-bottom: 300px;
}
footer .back-to-top {
  padding: 15px;
  background: var(--dark-4);
  width: max-content;
  margin: 80px auto 30px auto;
}
footer .back-to-top img {
  width: 80px;
}
footer .brand-customer {
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer .brand-customer img {
  max-width: 150px;
}
footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--white);
  margin-top: 40px;
}
footer .copyright ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
}
footer .copyright a {
  text-decoration: none;
  color: var(--green);
}
