@import "../vendor/bootstrap.min.css";
@import "../vendor/fontawesome6.2/css/all.css";
@import "../vendor/swiper-bundle.min.css";
@import "../vendor/menu-clean.css";
@import "../common/default";
@import "../common/variables";
@import "../common/header";
@import "../common/footer";

.banner {
  position: relative;
  padding-top: 43%;

  @media @max767 {
    padding-top: 55%;
  }

  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../image/detail_mp_group_news/mp-group-head-news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.new {
  max-width: 79.6vw;
  margin-inline: auto;

  @media @max767 {
    max-width: unset;
    padding-inline: var(--mobile-padding);
  }

  &-header {
    padding-top: 1em;
    padding-bottom: 1.25em;
    font-size: 4.35vw;

    @media @max767 {
      font-size: 8vw;
    }
  }

  &-title {
    font-size: inherit;
    margin-bottom: 0;
  }

  &-list {
    padding-left: 0;

    &-row {
      display: flex;
      justify-content: center;
      column-gap: 3vw;

      @media @max767 {
        flex-wrap: wrap;
      }
    }
  }

  &-item {
    flex-grow: 0;
    flex-basis: 50%;
    padding-bottom: 5.5vw;
    font-size: 1.83vw;

    @media @max767 {
      flex-basis: 100%;
      font-size: 4vw;
      margin-bottom: 0.5rem;
    }

    &-title {
      font-size: 1em;
    }

    &-thumb {
      aspect-ratio: 1.527;
    }

    &-image {
      max-height: 100%;
    }

    &-time,
    &-desc {
      font-size: 0.72em;
    }

    &-title,
    &-time,
    &-desc,
    &-link {
      margin-top: 0.9em;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.36em;
      width: 11.14em;
      border-radius: 16px;
      border: 1px solid #747474;
      text-decoration: none;
      color: inherit;
    }

    &-link:hover {
      color: inherit;
    }
  }
}
