.mp-group-new-banner {
  aspect-ratio: 2.31;

  @media @max767 {
    aspect-ratio: 2;
  }

  &__image {
    object-fit: cover;
  }
}

.mp-group-new {
  max-width: 79.6vw;
  margin-inline: auto;

  @media @max767 {
    max-width: unset;
    padding-inline: var(--mobile-padding);
  }

  &__header {
    padding-top: 1em;
    padding-bottom: 1.25em;
    font-size: 4.35vw;

    @media @max767 {
      font-size: 8vw;
    }
  }

  &__title {
    font-size: inherit;
    margin-bottom: 0;
  }

  &__list {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3vw;
  }

  &__item {
    flex-grow: 0;
    flex-basis: calc(50% - 1.5vw);
    padding-bottom: 5.5vw;
    font-size: 1.83vw;

    @media @max767 {
      flex-basis: 100%;
      font-size: 4vw;
      margin-bottom: 0.5rem;
    }

    &-title {
      font-size: 1em;
    }

    &-thumb {
      aspect-ratio: 1.527;
    }

    &-image {
      max-height: 100%;
    }

    &-time,
    &-desc {
      font-size: 0.72em;
    }

    &-title,
    &-time,
    &-desc,
    &-link {
      margin-top: 0.9em;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.36em;
      width: 11.14em;
      border-radius: 16px;
      border: 1px solid #747474;
      text-decoration: none;
      color: inherit;
    }

    &-link:hover {
      color: inherit;
    }
  }
}
