@import "../vendor/bootstrap.min.css";
@import "../vendor/fontawesome6.2/css/all.css";
@import "../vendor/swiper-bundle.min.css";
@import "../vendor/menu-clean.css";
@import "../common/default";
@import "../common/variables";
@import "../common/header";
@import "../common/footer";
@import "slide-main";
@import "utils";
@import "./grid.css";



html{
  font-size: 62.5%;
}

.banner {
  position: relative;
  padding-top: 43%;

  @media @max767 {
    padding-top: 55%;
  }

  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../image/Detail_mp_group_Karriere/banner-Karriere.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.news {
  &-header {
    padding-top: 1em;
    padding-bottom: 1.25em;
    font-size: 7.2rem;

    @media @max767 {
      font-size: 13vw;
      padding-top: 0.5em;
      padding-bottom: 0.75em;
    }
  }

  &-title {
    font-size: inherit;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.post{
  position: relative;

  &-main{
    margin-bottom: 8rem;

    &__images{
      width: 495px;
      height: 634px;
      overflow: hidden;
    }
    &-images__child{
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
    }
  }
  &-articles{
    margin-bottom: 27rem;
  }
  &-first{

    &__title {
      font-size: 3rem;
      font-weight: bold;
      text-transform:capitalize;
    }

    &__desc {
      font-size: 1.6rem;
      line-height: 27px;
      font-weight: 300;
      text-align: justify;
      color: #999999;
    }
  }

  &-second{

    &__images{
      width: 100%;
      height: 385px;
      overflow: hidden;
    }

    &-images__child{
      width: 100%;
      height: 100%;
      object-fit:cover;
      background-position: center;
    }

    &__title{
      font-size: 3rem;
      font-weight: bold;
    }

    &__desc{
      font-size: 1.6rem;
      line-height: 27px;
      font-weight: 300;
      text-transform: capitalize;
      color: #999999;
    }

    &__click{
      font-size: 2.5rem;
      position: absolute;
      font-weight: bold;
      padding: 1.2rem 4rem;
      border-radius: 13px;
      display: inline-block;
      border: 1px solid #fff;
      bottom: 0;
      margin-bottom: 0px;
    }
    
  }
}
